<head>
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Manchester<br />
    UK<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jasonlindsay87@gmail.com">jasonlindsay87@gmail.com</a>
</address>

<div>
    <h3>Social</h3>
    <table class="table-condensed">
        <tr class="tab-content">
            <td><a href="https://www.linkedin.com/in/jason-lindsay-80001473/" target="_blank"><i class="fa fa-linkedin"></i></a></td>
            <td><a href="https://www.facebook.com/jasonlindsay87" target="_blank"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://www.instagram.com/jasonlindsay_/" target="_blank"><i class="fa fa-instagram"></i></a></td>
            <td><a href="" target="_blank"><i class="fa fa-twitter"></i></a></td>
        </tr>
    </table>


</div>