@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jason Lindsay</h1>
    <p class="lead">Aplications Developer</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>Employment history and experience.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lifestyle</h2>
        <p>Personal activities and projects.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <p>Projects.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Views/Home/SnookerScoreboard.cshtml">Scoreboard &raquo;</a></p>
    </div>
</div>