@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/scoreboard.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/scoreboard.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


    <meta name="viewport" content="width=device-width" />
    <title>Scoreboard</title>

</head>
<body>
    <div id="tableNumContainer">
        <div>
            <label>Enter table number</label>
            <input type="number" id="tableNumberInput" />
            <button id="enterTableNumBtn" class="btn-primary">Enter</button>
        </div>
    </div>
    <div id="playerNamesContainer" style="display:none;">
        <p>Enter player names</p>
        <input id="p1Name" />
        <input id="p2Name" />
        <button id="enterPlayerNamesBtn" class="btn-primary">Enter</button>
    </div>
    <div id="scoreboardContainer"  style="display:none;">
        <div id="contentDiv" class="content">
            <table id="ballsTable" border="1">
                <tr>
                    <th>Table<span id="tableNumSpan"></span></th>
                </tr>
                <tr>
                    <td><span id="p1NameSpan"></span></td>
                    <td><span id="p2NameSpan"></span></td>
                </tr>
                <tr><th colspan="2">Score</th></tr>
                <tr>
                    <td><div class="redBall" OnClick=addScore(1)></div></td>
                    <td><div class="foulBall">F</div></td>
                </tr>
                <tr>
                    <td><div class="yellowBall" OnClick=addScore(2)></div></td>
                    <td><div class="greenBall" OnClick=addScore(3)></div> </td>
                </tr>
                <tr>
                    <td><div class="brownBall" OnClick=addScore(4)></div></td>
                    <td><div class = "blueBall" OnClick=addScore(5)></div></td>
                </tr>

                <tr>
                    <td><div class="pinkBall" OnClick=addScore(6)></div></td>
                    <td><div class="blackBall" OnClick=addScore(7)></div></td>
                </tr>
            </table>
        </div>
        <div id = "controlsDiv" class= "content">
            <table border="1">
                <tr><td colspan="2"><p id = "totalScore">Total - </p></td></tr>
                <tr><td colspan="2"><p id = "lastScore">Last Score - </p></td></tr>
                <tr><td colspan="2"><p id = "break">Break - </p></td></tr>
                <tr><th colspan="2"><button type="button" id="bUndo"  onclick=undoLastScore()>Undo</button></th></tr>
                <tr><th colspan="2"><button type="button" id="bClear" onclick=resetScoreboard()>Reset</button></th></tr>
                <tr><td colspan="2"><textarea  id = "board" rows = "20" cols = "10"></textarea></td></tr>
            </table>
            <table id="ballCounterTable">

            </table>
        </div>
    </div>
</body>


</html>
